body{
  background-color: #004d40;
  color: white;
  overflow: hidden;
}

#titre{
  color: white;
  text-transform: lowercase;
  font-family: Helvetica;
  text-align: center;
}

.demo-card-wide.mdl-card {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 400px;
  height: 320px;
  margin: 0 auto;
}

.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label {
  margin-bottom: 12px;
  width: 344px;
}

#boutonretour {
  margin-top: 50px;
}

#texteerreur {
  margin-top: 20px;
}

#connexion{
  width: auto;
  height: auto;
  background: grey;
}

.jeu {
  height: 505px;
  color: white;
  margin: 0 auto;
  width: 325px;
  background-color: white;
  box-shadow: 1px 1px 12px #1a1a1a;
  border-radius: 5px;
}

.demo-card-wide.mdl-card {
  color: #004d40
}

.tableau{
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 20px;
}

.stylish{
  display:block;
  width:40px;
  height:40px;
  border-radius:50%;
  border:4px #ccc;
  color:#666;
  line-height:100px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px 0 #fff;
  background:#ddd
}
.stylish:hover{
  border:4px #bbb;
  color:#aaa;
  text-decoration:none;
  background:#e6e6e6
}

.stylish2{
  display:block;
  width:15px;
  height:15px;
  border-radius:66px;
  border:4px #ccc;
  color:#666;
  line-height:100px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px 0 #fff;
  background:#ddd
}
.stylish2:hover{
  border:4px #bbb;
  color:#aaa;
  text-decoration:none;
  background:#e6e6e6
}

.ligne{
  padding: 10px;
  border-bottom: solid #000 1px;
}

.choix {

  align-self: center;
  text-align: center;
  box-shadow: 1px 1px 12px #1a1a1a;
  -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
  -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
  border: 0 !important;  /*REMOVES BORDER*/

  color: white;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  padding-top: 25px;

  width: 300px;
  background: #00796b;
}


select{
  color: #004d40;
  border-color: white;  /*REMOVES BORDER*/
  width: 70px;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  background: white;
}

.mdl-button{
  width: 170px;
  height: 50px;
}

cercle {
  display:block;
  width:40px;
  height:40px;
  border-radius:50%;
  border:4px lightgrey;
  color: white;
  line-height:100px;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px 0 #fff;
}

.rouge{
  background: #d32f2f;
}

.bleu{
  background: #2196F3;
}

.jaune{
  background: #FFEB3B;
}

.orange{
  background: #FF9800;
}

.violet{
  background: #9C27B0;
}

.fuchsia{
  background: #F06292;
}

.blanc{
  background: #F5F5F5;
  border: 1px solid lightgrey;
  width: 38px;
  height: 38px;
}

.vert{
  background: #4CAF50;
}

.neutre{
  background: #9E9E9E;
}

.noirindic{
  background: black;
  width:15px;
  height:15px;
}

.blancindic{
  background: #F5F5F5;
  border: 1px solid lightgrey;
  width:13px;
  height:13px;
}

.neutreindic{
  background: #9E9E9E;
  width:15px;
  height:15px;
}

#resultat{
  width: 1000px;
  height: 500px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

#containerstat{
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

#mp{
  font-size: 16px;
  text-align: center;
}

.ms{
  display: table-cell;
  padding: 10px;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  position: relative;
  float: left;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.pj{
  display: table-cell;
  padding: 10px;
  border: 1px solid black;
  width: 250px;
  position: relative;
  float: left;
  height: 250px;
  border-radius: 10px;

}

#stat{
  margin-top: 32px;
}

#nbrcoups{
  font-size: 24px;
}

.coups{
  display: inline-flex;
  border-radius: 10px;
}

.cp{
  text-shadow: 1px 1px 12px #1a1a1a;
  font-size: 150px;
}

.container{
  justify-content: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 2em;
}

.mdl-layout-title{
  text-indent: -10px;
  color: white;
}

.titre{
  font-size: 38px;
}

.title{
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  padding-top: 14px;
}

.mdl-layout__content{
  display: table-cell;
}

#boutondeconnection {
  margin-top: 10px;
}

.mdl-button{
  width: 170px;
  height: 50px;
}

.coups{
  border-radius: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.link-button:active {
  color:red;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}

.link-button:focus {
  outline: none;
}
